{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png  ' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>
    <section class="container mt-5">
      <h2 class="text-center">Welcome to Dashboard</h2>
      <h4 class="text-center text-white-50">
      <font color="FF9C33"><p style="display:inline">Hi,<b> <font color="FF9C33" style="font-size:30px" >{{username}} </font> </b>Hope you having a good day </p>
      </font>
      <div class="table-responsive- mt-3">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">YTubers_name </th>
              <th scope="col">City</th>
              <th scope="col">Visit</th>
            </tr>
          </thead>
          <tbody>
        
          {% for name in hiretuber %}
            <tr>
              <th scope="row">1</th>
              <td>{{ name.tuber_name }}</td>
             {% for yt in ytubers %}
                {% if yt.name == name.tuber_name %}

                  <td>{{ yt.city }}</td>

                
              <td>
                <a href="{% url 'youtubers_detail' yt.id %}" class="btn btn-accent">Go to Page </a>
              </td>
              {% endif %}
             {% endfor %} 
            </tr>
           {% endfor %} 
          </tbody>[]
        </table>
      </div>

    </section>
  </main>

{% endblock %}